3lab-ws/strings.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/strings/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="strings" targetNamespace="http://www.example.org/strings/">
  <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/strings/">
        	<xsd:element name="encode">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="in" type="xsd:string"></xsd:element>
        				<xsd:element name="in1" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="NewOperationResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:string"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="encodeResponse1">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:string" maxOccurs="unbounded" minOccurs="1"></xsd:element>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element></xsd:schema>
    </wsdl:types>
  <wsdl:message name="encodeRequest">
  	<wsdl:part name="parameters" element="tns:encode"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="encodeResponse">
  	<wsdl:part name="parameters" element="tns:encodeResponse1"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NewPortType">
  	<wsdl:operation name="encode">
  		<wsdl:input message="tns:encodeRequest"></wsdl:input>
  		<wsdl:output message="tns:encodeResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewBinding" type="tns:NewPortType">
  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="encode">
  		<soap:operation
  			soapAction="http://www.example.org/strings/encode" />
  		<wsdl:input>
  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewService">
  	<wsdl:port name="NewPort1" binding="tns:NewBinding">
  		<soap:address location="http://www.example.org/" />
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
