3lab-ws/WebContent/wsdl/NewPort1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/strings/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="strings" targetNamespace="http://www.example.org/strings/">
  <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/strings/">
        	<xsd:element name="encode">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="in" type="xsd:string"/>
        				<xsd:element maxOccurs="unbounded" minOccurs="1" name="in1" type="xsd:string"/>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="NewOperationResponse">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element name="out" type="xsd:string"/>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
        	<xsd:element name="encodeResponse1">
        		<xsd:complexType>
        			<xsd:sequence>
        				<xsd:element maxOccurs="unbounded" minOccurs="1" name="out" type="xsd:string"/>
        			</xsd:sequence>
        		</xsd:complexType>
        	</xsd:element>
    </xsd:schema>
    </wsdl:types>
  <wsdl:message name="encodeRequest">
  	<wsdl:part element="tns:encode" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="encodeResponse">
  	<wsdl:part element="tns:encodeResponse1" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="NewPortType">
  	<wsdl:operation name="encode">
  		<wsdl:input message="tns:encodeRequest"/>
  		<wsdl:output message="tns:encodeResponse"/>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NewBinding" type="tns:NewPortType">
  	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  	<wsdl:operation name="encode">
  		<soap:operation soapAction="http://www.example.org/strings/encode"/>
  		<wsdl:input>
  			<soap:body use="literal"/>
  		</wsdl:input>
  		<wsdl:output>
  			<soap:body use="literal"/>
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewService">
  	<wsdl:port binding="tns:NewBinding" name="NewPort1">
  		<soap:address location="http://localhost:8080/3lab-ws/services/NewPort1"/>
  	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
